/files/*
!/files/.empty

/wiki/*
!/wiki/1.txt
!/wiki/ex.txt
!/wiki/haiku.txt

/noacfiles/*
!/noacfiles/.empty

/dico/*
!/dico/.empty

splitwiki
decoupe
noac
char

*~
*.o
*.exe
*.stackdump
*.swp
*.err
*.log
