/files/*
!/files/.empty

/wiki/*
!/wiki/1.txt
!/wiki/ex.txt
!/wiki/haiku.txt

/noacfiles/*
!/noacfiles/.empty

/dico/*
!/dico/.empty

/dat/*
!/dat/.empty

/cr/*.aux
/cr/*.pdf
/cr/*.toc

splitwiki
decoupe
datdecoupe
noac
char

*~
*.o
*.exe
*.stackdump
*.swp
*.err
*.log
